*{
    margin: 0%;
    padding: 0%;
    
}
body{
background-color: #1f232d;
align-content: center;
}
.header-section{
    align-items: center;
    width: 100%;
   
}
.website-name{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;
    height: 4vh;
    color: #f5f5f5;
    padding: 2%;
}
.title{
    font-size: 2rem;
    color: #ffffff;
}
.website-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 50px;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1%;
}
.accounts{
    display: flex;
    align-content: flex-end;
    height: 4vh;
    gap: 3%;
    padding: 2%;


}

.login{
     width:150px ;
        height: 4vh;
        border: 1px  #ffffff4f  solid ;
        border-radius: 8px;
        background-color: #ffffff;
        color: #1f232d;
        font-size: 0.9rem;
        font-weight: bold;
       
       
}
.h1-first{

    text-align: center;
    color: #ffffff;
    padding: 1%;
}
h4{
 color:   #ffffff;
    padding: 2%;
}
.types button{ 
    width: 7%;
    height: 3vh;
    border: 1px  #a7a7a7  solid ;
    border-radius: 8px;
    background-color: #a7a7a74f;
    color: white;
    font-size: 0.7rem;
    color: #ffffff;  
}
.search-type{
    
    width: 100%;
   
}

.material-symbols-outlined{
    color:#ffffff  ;
    padding: 4% 0% 0% 6%;
}

.film-trend{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 2%;
    width: 70%;
    height: 50vh;
    background-image: url("eno.jpg");
    border-radius: 2em;
    background-size: cover;
    color: white;
    padding: 4% 2%;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.237);


}
.enola{
    font-size: 2rem;
    
}
.details{
    padding: 1%;
}
.button {
    display: flex; 
    gap: 2%; 
    margin-top: 10px;
    
   
}
.buttons {
   
    justify-content: space-between;
    gap: 5%;
    width: 15%;
    height: 5vh; 
    border: none; 
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    cursor: pointer; 
    font-size: 0.7rem;
    font-weight: bold;
    
}

.buttons:hover {
    background-color: rgba(0, 0, 0, 0.9);
}



